body {
  width: 90%;
  max-width: 800px;
  margin: auto;
}

section#fixed-size-grid-items ul {
  list-style-type: none;
  padding-left: 0;
}

section#fixed-size-grid-items li {
  display: inline-block;
}

section#fixed-size-grid-items aside {
  width: 170px;
  margin: 10px;
  font-size: 0.8rem;
}

section#stretchable-grid-items ul {
  padding-left: 0;
  /*margin: 1rem -10px;*/
}

section#stretchable-grid-items li {
  list-style-type: none;
  display: inline-block;
  width: 100%;
}

section#stretchable-grid-items aside {
  margin: 10%;
  font-size: 0.8rem;
}

@media screen and (min-width: 640px) {
  body {
    background-color: #eaf6ff;
  }

  h1 {
    font-size: 2.5rem;
  }

}

@media screen and (max-width: 500px) {
  h1 {
    font-size: 1.5rem;
  }
}

@media screen and (min-width: 480px) {

  section#stretchable-grid-items li {
    width: 50%;
  }

}

@media screen and (min-width: 640px) {
  section#stretchable-grid-items li {

    width: 25%;
  }

}
