body {
  background-color: #ffa3da;
  color: white;
  font-family: "Avenir", Arial, sans-serif;
  font-weight: 500;
}

div {
  margin-top: 20px;
  margin-left: 80px;
}

h1 {
  font-size: 40px;
  font-weight: 800;
  letter-spacing: .05em;
  text-transform: uppercase;
  background-color: white;
  color: #ffa3da;
  padding-left: 20px;
}

h2 {
  text-transform: uppercase;
  background-color: white;
  color: #ffa3da;
  padding-left: 20px;


}

.singer {
  font-style: italic;

}
